<!--suppress CssInvalidPropertyValue -->
<html>
<head>

  <title>Simulated Operating System</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

    header {
      background: #3e64ff;
      color: #ecfcff;
      padding: 1%;
      border:5px #5edfff  ;
    }

    body {
      background: #ecfcff;
      color: #400780;
      border: 10px solid  ;
      font-family: "Arial Black",serif;
      margin: 0;
      padding: 0;
    }

    button {
     background-color: white;
       border: 2px solid #008CBA;
       color: #400780;
       padding: 16px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       -webkit-transition-duration: 0.4s;
       transition-duration: 0.4s;
      box-shadow:  0 9px #008CBA ;



    div {
      display: inline-block;
      margin: auto;
      width: 100px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    * {
      box-sizing: border-box;
    }
    .divider{
      width:20px;
      height:auto;
      display:inline-block;
    }

    .column {
      float: left;
      padding: 10px;
      height: 600px;
      text-align: center
    }

    .left, .right {
      width: 30%;
      border: 10px solid #400780;
    }

    .middle {
      width: 40%;
      border: 5px solid #400780;
    }

    footer {
      background:#3e64ff  ;
      color:#ecfcff;
      padding: 1%;
    }

  </style>

</head>
  <body>
    <header>
      <h1> Simulated Operating System</h1>
    </header>
<ul>
  <div class="wrapper">
    <button style="width:10%" (click)="clear()">Clear</button>
    <div class="divider"></div>
    <button style="width:10%" (click)="upDate()">UpDate</button>
    <div class="divider"></div>
    <button style="width:10%" (click)="load()">Load</button>
    <div class="divider"></div>
    <button style="width:10%" (click)="run()">Run</button>
  </div>
</ul>
<div class="column left" style="background-color:#5edfff;overflow:scroll;padding:5px;" >
  <h2>Instruction Table</h2>
    <div class="column"  style= text-align:center>
      <div>Input&nbsp;#0:&nbsp;  <input #input0 (keyup)="addInput(input0.value,0)"/></div>
      <div>Input&nbsp;#1:&nbsp;  <input #input1 (keyup)="addInput(input1.value,1)"/></div>
      <div>Input&nbsp;#2:&nbsp;  <input #input2 (keyup)="addInput(input2.value,2)"/></div>
      <div>Input&nbsp;#3:&nbsp;  <input #input3 (keyup)="addInput(input3.value,3)"/></div>
      <div>Input&nbsp;#4:&nbsp;  <input #input4 (keyup)="addInput(input4.value,4)"/></div>
      <div>Input&nbsp;#5:&nbsp;  <input #input5 (keyup)="addInput(input5.value,5)"/></div>
      <div>Input&nbsp;#6:&nbsp;  <input #input6 (keyup)="addInput(input6.value,6)"/></div>
      <div>Input&nbsp;#7:&nbsp;  <input #input7 (keyup)="addInput(input7.value,7)"/></div>
      <div>Input&nbsp;#8:&nbsp;  <input #input8 (keyup)="addInput(input8.value,8)"/></div>
      <div>Input&nbsp;#9:&nbsp;  <input #input9 (keyup)="addInput(input9.value,9)"/></div>
      <div>Input&nbsp;#10:&nbsp;<input #input10 (keyup)="addInput(input10.value,10)"/></div>
      <div>Input&nbsp;#11:&nbsp;<input #input11 (keyup)="addInput(input11.value,11)"/></div>
      <div>Input&nbsp;#12:&nbsp;<input #input12 (keyup)="addInput(input12.value,12)"/></div>
      <div>Input&nbsp;#13:&nbsp;<input #input13 (keyup)="addInput(input13.value,13)"/></div>
      <div>Input&nbsp;#14:&nbsp;<input #input14 (keyup)="addInput(input14.value,14)"/></div>
      <div>Input&nbsp;#15:&nbsp;<input #input15 (keyup)="addInput(input15.value,15)"/></div>
      <div>Input&nbsp;#16:&nbsp;<input #input16 (keyup)="addInput(input16.value,16)"/></div>
      <div>Input&nbsp;#17:&nbsp;<input #input17 (keyup)="addInput(input17.value,17)"/></div>
      <div>Input&nbsp;#18:&nbsp;<input #input18 (keyup)="addInput(input18.value,18)"/></div>
      <div>Input&nbsp;#19:&nbsp;<input #input19 (keyup)="addInput(input19.value,19)"/></div>
      <div>Input&nbsp;#20:&nbsp;<input #input20 (keyup)="addInput(input20.value,20)"/></div>
      <div>Input&nbsp;#21:&nbsp;<input #input21 (keyup)="addInput(input21.value,21)"/></div>
      <div>Input&nbsp;#22:&nbsp;<input #input22 (keyup)="addInput(input22.value,22)"/></div>
      <div>Input&nbsp;#23:&nbsp;<input #input23 (keyup)="addInput(input23.value,23)"/></div>
      <div>Input&nbsp;#24:&nbsp;<input #input24 (keyup)="addInput(input24.value,24)"/></div>
      <div>Input&nbsp;#25:&nbsp;<input #input25 (keyup)="addInput(input25.value,25)"/></div>
     </div>
</div>

<div class="column middle" style="background-color:#b2fcff;">

  <h2>OutPut Display</h2>
  <div class="column"  style= text-align:center>
    <div>{{outputdisplay}}</div>
   </div>
</div>

<div class="column right" style="background-color:#5edfff;overflow:scroll;padding:5px; ">
  <h2>Memory Table</h2>
    <div class="column"  style= text-align:center>
      <div>Address&nbsp; #0: &nbsp;  {{memorytable[0]}}</div>
      <div>Address&nbsp; #1: &nbsp;  {{memorytable[1]}}</div>
      <div>Address&nbsp; #2:&nbsp;  {{memorytable[2]}}</div>
      <div>Address&nbsp; #3:&nbsp;  {{memorytable[3]}}</div>
      <div>Address&nbsp; #4:&nbsp;  {{memorytable[4]}}</div>
      <div>Address&nbsp; #5:&nbsp;  {{memorytable[5]}}</div>
      <div>Address&nbsp; #6:&nbsp;  {{memorytable[6]}}</div>
      <div>Address&nbsp; #7:&nbsp;  {{memorytable[7]}}</div>
      <div>Address&nbsp; #8:&nbsp;  {{memorytable[8]}}</div>
      <div>Address&nbsp; #9:&nbsp;  {{memorytable[9]}}</div>
      <div>Address&nbsp;#10:&nbsp; {{memorytable[10]}}</div>
      <div>Address&nbsp;#11:&nbsp; {{memorytable[11]}}</div>
      <div>Address&nbsp;#12:&nbsp; {{memorytable[12]}}</div>
      <div>Address&nbsp;#13:&nbsp; {{memorytable[13]}}</div>
      <div>Address&nbsp;#14:&nbsp; {{memorytable[14]}}</div>
      <div>Address&nbsp;#15:&nbsp; {{memorytable[15]}}</div>
      <div>Address&nbsp;#16:&nbsp; {{memorytable[16]}}</div>
      <div>Address&nbsp;#17:&nbsp; {{memorytable[17]}}</div>
      <div>Address&nbsp;#18:&nbsp; {{memorytable[18]}}</div>
      <div>Address&nbsp;#19:&nbsp; {{memorytable[19]}}</div>
      <div>Address&nbsp;#20:&nbsp; {{memorytable[20]}}</div>
      <div>Address&nbsp;#21:&nbsp; {{memorytable[21]}}</div>
      <div>Address&nbsp;#22:&nbsp; {{memorytable[22]}}</div>
      <div>Address&nbsp;#23:&nbsp; {{memorytable[23]}}</div>
      <div>Address&nbsp;#24:&nbsp; {{memorytable[24]}}</div>
      <div>Address&nbsp;#25:&nbsp; {{memorytable[25]}}</div>
      <div>Address&nbsp;#26:&nbsp; {{memorytable[26]}}</div>
      <div>Address&nbsp;#27:&nbsp; {{memorytable[27]}}</div>
      <div>Address&nbsp;#28:&nbsp; {{memorytable[28]}}</div>
      <div>Address&nbsp;#29:&nbsp; {{memorytable[29]}}</div>
      <div>Address&nbsp;#30:&nbsp; {{memorytable[30]}}</div>
      <div>Address&nbsp;#31:&nbsp; {{memorytable[31]}}</div>
      <div>Address&nbsp;#32:&nbsp; {{memorytable[32]}}</div>
      <div>Address&nbsp;#33:&nbsp; {{memorytable[33]}}</div>
      <div>Address&nbsp;#34:&nbsp; {{memorytable[34]}}</div>
      <div>Address&nbsp;#35:&nbsp; {{memorytable[35]}}</div>
      <div>Address&nbsp;#36:&nbsp; {{memorytable[36]}}</div>
      <div>Address&nbsp;#37:&nbsp; {{memorytable[37]}}</div>
      <div>Address&nbsp;#38:&nbsp; {{memorytable[38]}}</div>
      <div>Address&nbsp;#39:&nbsp; {{memorytable[39]}}</div>
      <div>Address&nbsp;#40:&nbsp; {{memorytable[40]}}</div>
      <div>Address&nbsp;#41:&nbsp; {{memorytable[41]}}</div>
      <div>Address&nbsp;#42:&nbsp; {{memorytable[42]}}</div>
      <div>Address&nbsp;#43:&nbsp; {{memorytable[43]}}</div>
      <div>Address&nbsp;#44:&nbsp; {{memorytable[44]}}</div>
      <div>Address&nbsp;#45:&nbsp; {{memorytable[45]}}</div>
      <div>Address&nbsp;#46:&nbsp; {{memorytable[46]}}</div>
      <div>Address&nbsp;#47:&nbsp; {{memorytable[47]}}</div>
      <div>Address&nbsp;#48:&nbsp; {{memorytable[48]}}</div>
      <div>Address&nbsp;#49:&nbsp; {{memorytable[49]}}</div>
      <div>Address&nbsp;#50:&nbsp; {{memorytable[50]}}</div>
      <div>Address&nbsp;#51:&nbsp; {{memorytable[51]}}</div>
      <div>Address&nbsp;#52:&nbsp; {{memorytable[52]}}</div>
      <div>Address&nbsp;#53:&nbsp; {{memorytable[53]}}</div>
      <div>Address&nbsp;#54:&nbsp; {{memorytable[54]}}</div>
      <div>Address&nbsp;#55:&nbsp; {{memorytable[55]}}</div>
      <div>Address&nbsp;#56:&nbsp; {{memorytable[56]}}</div>
      <div>Address&nbsp;#57:&nbsp; {{memorytable[57]}}</div>
      <div>Address&nbsp;#58:&nbsp; {{memorytable[58]}}</div>
      <div>Address&nbsp;#59:&nbsp; {{memorytable[59]}}</div>
      <div>Address&nbsp;#60:&nbsp; {{memorytable[60]}}</div>
      <div>Address&nbsp;#61:&nbsp; {{memorytable[61]}}</div>
      <div>Address&nbsp;#62:&nbsp; {{memorytable[62]}}</div>
      <div>Address&nbsp;#63:&nbsp; {{memorytable[63]}}</div>
      <div>Address&nbsp;#64:&nbsp; {{memorytable[64]}}</div>
      <div>Address&nbsp;#65:&nbsp; {{memorytable[65]}}</div>
      <div>Address&nbsp;#66:&nbsp; {{memorytable[66]}}</div>
      <div>Address&nbsp;#67:&nbsp; {{memorytable[67]}}</div>
      <div>Address&nbsp;#68:&nbsp; {{memorytable[68]}}</div>
      <div>Address&nbsp;#69:&nbsp; {{memorytable[69]}}</div>
      <div>Address&nbsp;#70:&nbsp; {{memorytable[70]}}</div>
      <div>Address&nbsp;#71:&nbsp; {{memorytable[71]}}</div>
      <div>Address&nbsp;#72:&nbsp; {{memorytable[72]}}</div>
      <div>Address&nbsp;#73:&nbsp; {{memorytable[73]}}</div>
      <div>Address&nbsp;#74:&nbsp; {{memorytable[74]}}</div>
      <div>Address&nbsp;#75:&nbsp; {{memorytable[75]}}</div>
      <div>Address&nbsp;#76:&nbsp; {{memorytable[76]}}</div>
      <div>Address&nbsp;#77:&nbsp; {{memorytable[77]}}</div>
      <div>Address&nbsp;#78:&nbsp; {{memorytable[78]}}</div>
      <div>Address&nbsp;#79:&nbsp; {{memorytable[79]}}</div>
      <div>Address&nbsp;#80:&nbsp; {{memorytable[80]}}</div>
      <div>Address&nbsp;#81:&nbsp; {{memorytable[81]}}</div>
      <div>Address&nbsp;#82:&nbsp; {{memorytable[82]}}</div>
      <div>Address&nbsp;#83:&nbsp; {{memorytable[83]}}</div>
      <div>Address&nbsp;#84:&nbsp; {{memorytable[84]}}</div>
      <div>Address&nbsp;#85:&nbsp; {{memorytable[85]}}</div>
      <div>Address&nbsp;#86:&nbsp; {{memorytable[86]}}</div>
      <div>Address&nbsp;#87:&nbsp; {{memorytable[87]}}</div>
      <div>Address&nbsp;#88:&nbsp; {{memorytable[88]}}</div>
      <div>Address&nbsp;#89:&nbsp; {{memorytable[89]}}</div>
      <div>Address&nbsp;#90:&nbsp; {{memorytable[90]}}</div>
      <div>Address&nbsp;#91:&nbsp; {{memorytable[91]}}</div>
      <div>Address&nbsp;#92:&nbsp; {{memorytable[92]}}</div>
      <div>Address&nbsp;#93:&nbsp; {{memorytable[93]}}</div>
      <div>Address&nbsp;#94:&nbsp; {{memorytable[94]}}</div>
      <div>Address&nbsp;#95:&nbsp; {{memorytable[95]}}</div>
      <div>Address&nbsp;#96:&nbsp; {{memorytable[96]}}</div>
      <div>Address&nbsp;#97:&nbsp; {{memorytable[97]}}</div>
      <div>Address&nbsp;#98:&nbsp; {{memorytable[98]}}</div>
      <div>Address&nbsp;#99:&nbsp; {{memorytable[99]}}</div>
 </div>
</div>
  <footer> Tim Herbst, Shams Al-Farees, Arisha Jahan </footer>
</body>
</html>


